.body {
    overflow-x: hidden;
}

.page {
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

/*NAVBAR*/

.navbar {
    transition: all 0.4s;
}

.custom-item {
    color: #9b9a9a;
    font-weight: 700;
    margin: 1rem;
}

.custom-item:hover {
    color: black;
    font-weight: 700;
    transform: scale(1.2);
    transition: 0.4s;
}

.brand-style {
    color: #fcf9f9;
    font-weight: 700;
    font-size: 20px;
}

.custom-nav {
    background: rgb(96, 45, 46);
}

.custom-brand {
    font-size: 30px;
}

.logo {
  width: 200px;
}

@media screen and (max-width: 900px) {
  .logo {
    width: 190px;
  }
}

/*MODAL*/

.modal-dialog {
  margin-left: -3px;
  margin-top: -3px;
  width: 85%;
}

.modal-dialog .modal-content,
.modal-dialog .modal-body {
  background-color: rgb(251, 248, 248);
}

.modal-dialog .modal-header,
.modal-dialog .modal-footer {
  border: none;
}

.nav-item-modal a {
  color: #453333;
}

.nav-item-modal a:hover {
  color: rgb(96, 45, 46);
}

/*BUTTONS*/

.btn-custom {
  position: absolute;
  bottom: 12rem;
  left: 2rem;
  color: white;
}

.btn-red {
  background-color: rgb(96, 45, 46);
}

.btn-red:hover {
  background-color: rgb(113, 53, 53);
}

/* SPLIT SCREEN */

.divider {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 768px) {
  .divider {
    flex-direction: column;
  }
}

.left-side {
  flex: 1;
  background-image: url(../images/korea.jpg);
  background-size: cover;
  background-position: left;
  height: 100%;
}

.right-side {
  flex: 1;
  height: 100%;
}

.content {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content .text {
  display: flex;
  flex-direction: column;
  flex: 8;
}

.custom-heading {
    font-size: calc(30px + (90 - 30) * ((100vw - 320px)/ (1600 - 320)));
}

.hero {
    width: 80%;
    line-height: 1.9rem;
}

.bg-red {
  background: rgb(96, 45, 46);
}

